.container {
    width: 1140px;
    margin: 20px auto 0 auto;    
}
.blog-post {
    width: 75%;
    float: left;
}
..other-post {
    width: 25%;
    float: right;
}
* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1, h2 {
    color: rgb(30, 172, 30);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

p {
    
    text-align: justify;
}

.main-text {
    margin-bottom: 20px;
}